<!DOCTYPE html>
<html>
  <head>
    <title>Wallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="wrapper" class="d-flex">
      <% if user_signed_in? %>
      <div id="sidebar-wrapper" class="border-end bg-white">
          <div class="sidebar-heading border-bottom bg-light">Wallet-App</div>
          <div class="list-group list-group-flush">
              <%= link_to 'Account Summary', account_summary_path, class: 'list-group-item list-group-item-action list-group-item-light p-3' %>
            <% if !current_user.admin? %>
              <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Loans</a>
            <% end %>
            <%= link_to "Logout", destroy_user_session_path, class: 'text-danger list-group-item list-group-item-action list-group-item-light p-3' %>
          </div>
      </div>
      <% end %>
      <div id="page-content-wrapper">
        <% if notice %>
          <div class="alert alert-warning m-3" role="alert">
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger m-3" role="alert">
            <%= alert %>
          </div>
        <% end %>
        <div class="container-fluid p-5">
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>

